[Unit]
Description=CoDi functionalitites for Linux-based ROMs on the Cosmo Communicator

[Service]
Type=simple
ExecStart=/usr/lib/codi/codi.py --daemon
Restart=on-failure

[Install]
WantedBy=default.target
